OPENAI_API_KEY="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"
OPENAI_API_BASE=https://api.openai.com/v1
OPENAI_MODEL_NAME=gpt-4o
